---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h1>Becca Mizzi-Harris</h1>
				<p>Freelance commercial & workplace&nbsp;interior&nbsp;designer.<br>Hired by busy interior design & architecture&nbsp;teams.</p><p><strong>Available for freelance and&nbsp;contract&nbsp;work.</strong></p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2 class="smol-head">Selected projects</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects reversed %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ site.cloudinary-base }}{% if item.imagelocation %}{{ item.imagelocation }}{% endif %}{{ item.project.thumbnail}}" alt="{{ item.project.title }}" />
								</div>
								<span class="smol-head">{{ item.project.includes }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<section class="about">
			<div class="container">
				{% capture aboutme %}{% include aboutme.md %}{% endcapture %}
				{{ aboutme | markdownify }}
			</div>
		</section>
		<section class="podcast">
			<div class="container">
				<h2>{{ site.data.podcast.name }} Podcast</h2>
		
				{% assign latest_episode = site.data.podcast_episodes | first %}
				<p><i>Come listen to my podcast — engaging, friendly, and insightful discussions with expert guests from across the design and build
						industries. Covering
						workplace, education, retail, and hospitality sectors. Delving into key topics shaping the design and
						built environments
						around us, from design processes, methods, practices, sustainability, inclusivity; and anything in
						between.</i></p>
				<div class="latest-episode">
					<h3 class="smol-head">Latest Episode</h3>
		
					<iframe
						src="https://podcasters.spotify.com/pod/show/designandbuild/embed/episodes/{{ latest_episode.spotify_id }}"
						width="100%" frameborder="0" scrolling="no"></iframe>
					{% capture episode_content %}{{ latest_episode.description }}{% endcapture %}
		
					{% assign cleaned_content = episode_content | strip_newlines | replace: "<p>", "" | replace: "</p>", " " |
					strip %}
		
					<div id="episode-description">
						<p id="latest-pod-ep-desc" class="line-clamp">
							{{ cleaned_content }}
						</p>
						<small>
							<a href="#" id="toggle-latest-pod-ep-desc" onclick="toggleLatestPodEpDesc(); return false;">Show
								full description</a>
						</small>
					</div>
				</div>
		
				{% assign episode_count = site.data.podcast_episodes | size %}
				{% if episode_count > 1 %}
				<h3>Recent Episodes</h3>
				<ul>
					{% for episode in site.data.podcast_episodes offset:0 limit:4 %}
					<li>
						<a href="{{ episode.spotify_link }}">{{ episode.title }}</a> <small>{{ episode.pubDate | date: "%d/%m/%Y" }}</small>
					</li>
					{% endfor %}
				</ul>
		
				{% if episode_count > 3 %}
				<p><a href="{{ site.podcast }}">All episodes and platforms</a></p>
				{% endif %}
				{% endif %}
			</div>
		</section>
		{% if site.categories.blogs %}
			<section class="blog">
				<div class="container">
					<h2>Blog</h2>
					<ul>
						{% for item in site.categories.blogs %}
							<li><a href="{{ item.url | prepend: site.baseurl }}">{{ item.blog.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</section>
		{% endif %}
	</main>
	{% include footer.html %}
	<script src="{{ '/assets/scripts/vendor/scrollreveal.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/assets/scripts/home.js' | prepend: site.baseurl }}"></script>
</body>
</html>