<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
				<li><a title="Instagram" href="{{ site.instagram }}" target="_blank">Instagram</a></li>
				<li><a title="Newsletter" href="{{ site.newsletter }}" target="_blank">Newsletter</a></li>
				<li><a title="Podcast" href="{{ site.podcast }}" target="_blank">Podcast</a></li>
				<li><a title="Book a Call" href="{{ site.bookacall }}" target="_blank">Book a Call</a></li>
			</ul>
		</section>
		<div class="clearfix"></div>
		<p class="registered-company">Registered in Wales, Stiwdio Mizzi-Harris Ltd</p>
	</div>
</footer>